{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p> Autor : {% render_field form.autor %}</p>
    <p> Conteudo : {% render_field form.conteudo %}</p>
    <p> Selecione a imagem: {% render_field form.imagem %}</p>
    <input type="submit" value="Postar">
</form>
</body>
</html>