<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


    <h1>POSTS</h1>
    <div class="posts">
    {% for user in posts%}
    <div class="card">
    <p class="autor">Autor: {{user.autor}}</p>
    <p class="conteudo">"{{user.conteudo}}"</p>
    <p class="data">Data: {{user.data}}</p>
    </div>
    {%endfor%}
    </div>
</body>

<style>

    h1{
        text-align: center;
    }
    .posts{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
.card{
    border-radius: 8px;
    border-style: groove;
    box-shadow: black;
    text-align: center;
    background-color:rgba(211, 178, 137, 0.808);
    width: 80%;
    box-sizing: border-box;
    word-wrap: break-word;
    padding: 1%;
}

.autor{
    font-weight: bold;
    font-size: large;

}



</style>
</html>